.card__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  color: #fff;
  padding: 10px;
  background-color: #fff;
  display: inline-block;
  margin: 30px;
}

.card__title {
  color: #282828;
  font-size: 14px;
}

.card__description {
  color: #282828;
  font-size: 12px;
}

.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 20px;
}

body {
  margin: 0;
  position: relative;
  background-color: #c4c4c4;
  height: 100vh;
}
header,
footer {
  background-color: #ffffff;
  width: 100%;
  height: 30px;
  display: fixed;
}

footer {
  position: absolute;
  bottom: 0;
}
